.left-25 {
 height       : 555px;
 overflow     : hidden;
 display      : inline-block;
 float        : left;
 width        : 18%;
 padding-left : 0;
 margin-right : 1%;
 text-align   : center;
}

.right-75 {
 height     : 555px;
 overflow   : hidden;
 display    : inline-block;
 width      : 68%;
 float      : right;
}

.sidebar {
  list-style-type : none;
  margin-top : 40px;
  margin-left : 0;
  padding-left: 0;
}

.sidebar li {
  margin : 0 0 10px 0;
  padding : 0 0 10px 0;
}

.sidebar li a {
  text-decoration: none;
  font-size : 18px;
}

#content {
  padding : 0 10px 0 10px;
}
