<section id="top-menu">
  <ul id="social">
    <li><a href="https://artofnaturephotography.wordpress.com" target="_blank"><span class="genericon wordpress-icon"></span></a></li>
    <li><a href="https://twitter.com/KeilaBolen" target="_blank"><span class="genericon twitter-icon"></span></a></li>
    <li><a href="https://plus.google.com/116279744737557547843" target="_blank"><span class="genericon google-plus-icon"></span></a></li>
    <li><a href="https://www.linkedin.com/in/keila-bolen-3142a3100" target="_blank"><span class="genericon linkedin-icon"></span></a></li>
    <li><a href="mailto:keila.bolen@gmail.com"><span class="genericon envelope-icon"></span></a></li>
  </ul>
  <img id="branding-image" src="/branding-image.svg" />
</section>
